@import "setting";
@import "mixin";
@import "common";
body {
  letter-spacing: 0.03em;
  padding-bottom: 100px;
}

a[href^="tel:"] {
  pointer-events: none;
}
.inbox {
  width: 600px;
  margin: 0 auto;
}

#wrap {
  position: relative;
  overflow: hidden;
  min-width: 1200px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
main {
  border: solid 3px yellowgreen;
  border-radius: 10px;
  // padding-bottom: 20px;
}

header {
  padding: 50px 0;
}
h2 {
  color: #fff;
  background: yellowgreen;
  font-size: 24px;
  // margin-bottom: 10px;
  padding-left: 30px;
}
dt {
  font-weight: bold;
}
textarea {
  width: 80%;
  height: 300px;
  padding: 2px;
}
button {
  background: #fff;
  color: #000;
  padding: 5px 10px;
  &:hover {
    cursor: pointer;
  }
}
dl {
  &:not(:first-child) {
    margin-top: 20px;
  }
}
.article-warp {
  article {
    &:not(:first-child) {
      border-top: solid 1px yellowgreen;
    }
    a {
      padding: 20px 10px;
      display: block;
    }
    .txt {
      margin-top: 25px;
    }
    .name {
      margin-right: 20px;
      position: relative;
      &::before {
        content: "/";
        position: absolute;
        top: -5px;
        right: -15px;
      }
    }
  }
}
.input_btn {
  display: block;
  box-sizing: border-box;
  width: 70%;
  padding: 10px 0;
  color: #222;
  border: solid 1px #eee;
  margin: 0 auto;
  text-align: center;
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
.input_btn_wrap {
  padding: 20px 0;
  border-bottom: solid 3px yellowgreen;
}
.page-wrap {
  a {
    &:first-child {
      margin-right: 20px;
    }
  }
}
.inner {
  padding: 15px 20px;
}
.detail-wrap {
  margin-bottom: 25px;
}
.insert {
  display: inline-block;
  padding: 5px 10px;
  background: green;
  color: #fff;
  margin-right: 15px;
}
.delete {
  display: inline-block;
  padding: 5px 10px;
  background: red;
  color: #fff;
  margin-right: 15px;
}
